@import "mixins/containers"

md-sidenav-container
  sw-container-stretch()

div.container
  sw-container-row()
  sw-container-stretch()
  width: 100%

div.left
  sw-container-row()
  sw-container-stretch()
  align-items: center

div.right
  width: 100%
