@import "mixins/colors"
@import "mixins/containers"

:host
  sw-container-row()
  height: 100%

div.matcher-list
  sw-container-column()
  min-width: 200px

div.matcher-list .heading
  divider-color()
  padding: 1rem
  text-align: center
  text-transform: uppercase
  font-weight: 500

div.matcher-list .list
  sw-container-column()
  padding: 0 1rem
