@import "mixins/colors"
@import "mixins/containers"

navbar
  sw-container-row()
  dark-primary-color()
  text-primary-color()

.logo
  padding: 0.2rem 1rem

.logo .heading
  text-transform: uppercase
  letter-spacing: 0.3rem

:host >>> svg path
  fill: currentColor
