@import "mixins/colors"
@import "mixins/containers"

navbar
  sw-container-row()
  sw-primary()

.logo
  padding: 0.2rem 1rem

.logo .heading
  text-transform: uppercase
  letter-spacing: 0.3rem

:host >>> svg path
  fill: currentColor
